@use "sass:color";

$medium-slate: #1e293b;
$dark-slate: #0f172a;
$light-slate: #f8fafc;
$nav-default-color: #e5e7eb;
$nav-hover-color: color.scale($nav-default-color, $lightness: -30%);
$accent: #3b82f6;

$max-nav-width: 800px;
$max-content-width: 800px;
$mobile: 500px;
